@font-face{
    font-family: "Vazir";
    src:url("../font/Vazir-Thin.eot");
    src:url("../font/Vazir-Thin.eot?#iefix") ;
    src:url("../font/Vazir-Thin.woff2") format("woff2") ;
    src:url("../font/Vazir-Thin.woff") format("woff") ;
    src:url("../font/Vazir-Thin.ttf") format("truetype") ;
}
@font-face{
    font-family: "IranNastaliq";
    src:url("../font/IranNastaliq.eot");
    src:url("../font/IranNastaliq.eot?#iefix") ;
    src:url("../font/IranNastaliq.woff2") format("woff2") ;
    src:url("../font/IranNastaliq.woff") format("woff") ;
    src:url("../font/IranNastaliq.ttf") format("truetype") ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Vazir" !important;
}
a{
    color: white;
    text-decoration: none;
}

nav{
    background-color: #007D5F;
    padding-top:10px ;
    display: flex ;
    align-items: center;
    justify-content: space-between;

}
.card{
    border: none !important;
}
.logo{
    margin: 15px 0 0 30px;
    text-transform: uppercase;
    font-family:"IranNastaliq" !important;
    color: whitesmoke !important;
}
.nav-list{
    display: flex;
    list-style: none;
    margin-right: 30px;

}
.nav-list li {
    margin-right: 30px;
}

.nav-list li a{
text-decoration: none;
color: whitesmoke;
}
.nav-list li a:hover{
    color: #a6e1ec;
    border-bottom:1px solid #eeeeee;
    transition: all 0.3s;
}
.dropdown-menu{
    background-color: #007D5F !important;
}
.dropdown-menu li{
    margin-right: 0 !important;
}

#hambergur-toggle{
    display: none;
}
.hambergur{
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
}
.hambergur .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s;

}
.hambergur .bar::before,
.hambergur .bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    transition: all 0.3s;
}

.hambergur .bar::before{
    transform: translateY(-10px);

}
.hambergur .bar::after{
    transform: translateY(10);
}
@media (max-width: 768px) {
    .logo{
        margin-right: 15px;
    }
    .nav-list{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s;
        background-color: #007D5F;
    }
    .nav-list li a {
        display: inline-block;
        font-size: 20px;
        padding: 15px 2px;
        transition: all 0.3s;
        color: whitesmoke;
    }
    .nav-list li a:hover {
        background-color:#007D5F ;
        color: whitesmoke;
        transform: translateY(-10px);
    }
    .hambergur {
        display: flex;
        z-index: 999;
    }
    #hambergur-toggle:checked ~ .nav-list {
        transform: none;
    }

    #hambergur-toggle:checked ~ .hambergur .bar {
        background-color: transparent;


    }
    #hambergur-toggle:checked ~ .hambergur .bar::before {
        transform: rotate(45deg);
    }

    #hambergur-toggle:checked ~ .hambergur .bar::after {
        transform: rotate(-45deg);
    }

}
img{
    width: 100%;
}

.section-img{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/sardar-group.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#gognos{
    font-family:"IranNastaliq" !important;
   font-size: 70px;
    color: #eeeeee;
    margin-top: 5rem;
}
.meno{
    color: black!important;
}
.meno:hover{
    border-bottom: 2px solid #007D5F;

}
.name{
    background: #007D5F !important;
}
.gognosh5{
    line-height: 30px;
}

#icon1{
    color: #942a00;
    background-color: rgba(255, 143, 0, .1);
    padding: 25px;
    border-radius: 116px;
    box-shadow: 0 0 12px 0 rgb(71 119 244 / 20%);

}
#icon1:hover{
    color: white;
    background-color: #b8606c;
    transition: ease 0.5s;
}
#icon2{
    color: #0d4696;
    background-color: white;
    padding: 25px;
    border-radius: 116px;
    box-shadow: 0 0 12px 0 rgb(71 119 244 / 20%);
}
#icon2:hover{
    color: white;
    background-color: #0d4696;
    transition: ease 0.5s;
}
#icon3{
    color: #b8606c;
    background: rgba(41, 207, 141, .1);
    padding: 25px;
    border-radius: 116px;
    box-shadow: 0 0 12px 0 rgb(71 119 244 / 20%);
}
#icon3:hover{
    color: white;
    background-color: #843534;
    transition: ease 0.5s;
}
.job{
    margin-top: 5rem;
    font-weight: bold;
    color: #3587fa;
}
.membar-header{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    background: #007D5F !important;

}
.member-img {
border-style: none;

}
.weke{
    color: white;
    text-decoration: none;
}
.weke:hover{
    color: #444444;
}
@media (min-width: 768px) {
    .byuo {
        flex: 33.33%;
       max-width: 33.333%;
    }
}
.slider{
    background-color:#E0E0E0;

}
.slider1{
    color: #C7C7C7;
    font-weight: bold;
    text-decoration: none;
}
.endh2{

    text-align: center;
    font-weight: bold;
    color: #5587fa;
}
.footer{
    background-color: #007D5F;
}
.list li{
    padding: 0.5rem;
    list-style: none;
    border-bottom: 1px dotted white;
    width: 80%;

}
.list li a{
    text-decoration: none;
    color: white;
}
.list li a:hover{
    color: #444444;
}
.number{
    margin-top: 10px;
background-color:#2e39bf ;
 color: whitesmoke;
    padding-bottom:50px;
}
#value{
    font-size: 5rem;
    font-weight:bold;
    text-align: center;
    padding: 20px;
}
#majls{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}
#consert{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

.link{
    margin-right: 2rem;
    color: whitesmoke;
}
.membar{
    margin-right: 2rem;
    padding: 0.5rem;
    width: 80%;
}
.linkshbakaeh{
    margin: 5px 2rem 0 0;
    font-size: 30px;
    color: #00c6ff;
}

#instagram:hover{
    color:#fcb045;
}
#twitter:hover{
    color: #2a0845;
}
#facebook:hover{
    color: #344e86;
}
#telegram:hover{
    color: #0082c8;
}
